body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  touch-action: none;
  overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.sidebar {
    width: 250px;
    background: #D9D9D9;
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }

  .hierarchy-pane{
    /* s */
  }
  .asset-pane{
    /* background-color: #007bff; */
    height: 70vh;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    
    
  } 

  .asset-header-container, .asset-footer{
    padding: 5px 30px 0;
    border-top: #000 0.5px solid;
    border-bottom: #000 0.5px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.asset-footer{
  padding: 10px 10px;
  position: absolute;
  /* top:120px; */
  width: 250px;
  bottom: 0;
  background-color: #898787;
}

  .main {
    display: flex;
    flex-direction: row;
    height: 90%;
  }
  .sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  

  

  .sidebar button:focus {
    outline: none;
  }

 

  .top-pane {
    height: 10%;
    background-color: #C9C6C6;
    /* padding: 10px; */
    width: 100%; /* Adjust the width based on your canvas width */
  }

  .main-container {
    flex-grow: 1;
    position: relative; /*Added to enable positioning of the slider*/
    touch-action: none; /* Disable default touch gestures on the container */
    width: calc(100vw - 200px);

  }



  .canvas-container {

    /* flex-grow: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 80%;
    /* background-color: #007bff; */
    /* position: relative; */
    overflow: hidden; /* Added to hide the overflow during zooming */
    /* position: relative; Added to enable positioning of the slider */
    touch-action: none; /* Disable default touch gestures on the container */
   

    
  }

  .canvas {
    border: 2px solid #ccc;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    /* position: relative; */
    transform-origin: 0 0; /* Added to set the origin of the transform */
    touch-action: none; /* Disable default touch gestures on the canvas */
    overflow: hidden;
  }

  .zoom-slider {
    /* position: absolute;
    bottom: 10px;
    left: 10px; */
    width: 100px;
  }

  .zoom-slider input[type="range"] {
    width: 100%;
  }

  .add-button {
    /* position: fixed;
    bottom: 20px;
    right: 20px; */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  /* .element {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
  } */


  .bottom-settings {
    background-color: #C9C6C6;
    height: 10%;
    display: flex;
  }

  .slider-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .slider{
    width: 294px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #EAE9E9;

  }
  .mode{
    width:70%;
    display: flex;
    justify-content: flex-start;
    padding: 15px 0;
  }
 

  .nav-bar{
    height: 10%;
    padding: 20px;
    background: rgba(131, 130, 130, 0.81);
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
  }
  .frequently-used-asset-container{
    display: flex;
    flex-direction: column;
    max-height: 250px;
    padding: 10px 0 50px;
    overflow: scroll;
  }

  .frequently-used-asset-container  button {
     text-align: left;
     padding: 5px 30px;
     background-color: #D9D9D9;
     border: none;
     font-size: 14px;
     display: flex;
     align-items: center;
     transition: font-size 0.3s ease
  }

  .frequently-used-asset-container button:hover{
    font-size: 15px;
    background-color: #d6d4d4;
 
  }


  .frequently-used-asset-container svg {
    margin-right: 10px;
  }



  .logo {
    width: 20%;
    color: #FFF;
    font-family: Inter;
    padding-left: 20px;
  }

  .nav-middle{
    width: 50%;
    display: flex;
  }

  .nav-end{
    width: 30%;
    display: flex;
  }

  .top-pane{
    display: flex;
    padding-left: 80px;
    align-items: center; /* Center the div vertically */
  }
  .top-pane-tools{
    display: flex;
    justify-content: space-between;
    width: 150px;
  }


  /*buttons*/

  .asset-button{
    width: 20px;
    height: 20px;
    border: none;
    font-size: large;
    background-color: #D9D9D9;
  }

  .add-button:hover{
    background-color: #D9D9D9;
    cursor: pointer;
  }

  .resize-button{

    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    padding: 0px 20px;
    margin-right: 60px;
  }

  .undo-redo {
    background: none;
    border: none;
    margin: 0 10px;
  }

  .preview-button{
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    padding: 0px 20px;
    margin-right: 30px;
  }

  .sign-in-button{
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border:  #fff 2px solid;
    background:none;
    padding: 0px 30px;
    margin-right: 60px;
    color: #FFF;
  }

  .light-mode-button, .dark-mode-button{
    padding: 0 10px;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
  }

  .light-mode-button{
    background-color: #898787;;
  }
  .light-mode-button{
    background-color: #D9D9D9;
  }