

.main-section {
    display: flex;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
    

}

.main-view{
   display: flex;
    width: calc(100vw - 400px) ;
   
}

.display-iframe{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    border: none;
    
 
}

.side-view{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    border-left: 1px solid black;
    height: inherit;
    padding: 30px;
    
}

.detail{
   display: flex;
   /* align-items: center;*/
   justify-content: center; 
   height: 40%;
   border-radius: 20px;
   /* background-color: aqua; */
   padding: 10px;
   
  
}
.detail div {
  /* background-color: blueviolet; */
  width: 100%;
  height: 100%;
  align-self: center;
  border-radius: 20px;
}



.main-image{
    display: flex;
    /* align-items: center;*/
    justify-content: center; 
   height: 40%;
   border-radius: 20px;
   background-color:azure;
   padding: 10px;
  
}

.main-image div {
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    align-self: center;
    border-radius: 20px;
  }

.preview-nav{
    display: flex;
    justify-content: space-between;
    height: 10%;
    border-radius: 20px;

}

.preview-nav button {
    width: 40%;
    border-radius: 20px;
}

.full-view {
    position: absolute;
    right: 395px;
    top: 70px;
    background-color: white;
    width: 50vw;
    height: calc(100vh - 70px);
    border-radius: 5px;
    z-index: 1;
    border: 1px black solid;
    display: none;
}

.full-view.visibility {
    display: block;
}

.full-view-image{
  background-color: aqua;
  height: calc(100vh - 50px);
  display: flex;
}

.full-view-image image {
    margin: 0 auto;
}